In [7]:
#jupyter nbextension enable --py --sys-prefix widgetsnbextension
#pip install gmaps

import pandas as pd
import gmaps
import requests
from config import gKey
gmaps.configure(api_key=gKey)

In [8]:
get_file = 'weather_data/cities.csv'

cityDataDf = pd.read_csv(get_file)
cityDataDf.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beruwala,LK,2022-05-22 20:04:28,6.4788,79.9828,26.34,86,25,4.26
1,1,Dikson,RU,2022-05-22 20:04:28,73.5069,80.5464,-6.40,92,48,3.51
2,2,Poum,NC,2022-05-22 20:04:28,-20.2333,164.0167,25.97,78,0,5.08
3,3,Vila Velha,BR,2022-05-22 20:00:18,-20.3297,-40.2925,22.16,70,52,2.24
4,4,Thunder Bay,CA,2022-05-22 19:59:37,48.4001,-89.3168,10.99,40,100,4.12

In [6]:
weatherDataDf.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
maxTemp = cityDataDf['Max Temp'].abs()

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=maxTemp, dissipating=False, max_intensity =100, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
humidity = cityDataDf['Humidity']

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity =150, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
cloudiness = cityDataDf['Cloudiness'].abs()

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity =300, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
windSpeed = cityDataDf['Wind Speed']

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=windSpeed, dissipating=False, max_intensity =50, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
userMinTemp = float(input('What is the minimum temperature you would like for your trip? '))
userMaxTemp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 5
What is the maximum temperature you would like for your trip? 22

In [32]:
preferredCitiesDf = cityDataDf.loc[(cityDataDf['Max Temp'] <= userMaxTemp) & (cityDataDf['Max Temp']>= userMinTemp)]
preferredCitiesDf.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Thunder Bay,CA,2022-05-22 19:59:37,48.4001,-89.3168,10.99,40,100,4.12
8,8,Hobart,AU,2022-05-22 20:00:18,-42.8794,147.3294,10.14,86,100,4.12
9,9,Necochea,AR,2022-05-22 20:00:30,-38.5473,-58.7368,14.77,51,100,5.31
10,10,Emerald,AU,2022-05-22 19:59:51,-23.5333,148.1667,15.19,88,58,5.33
11,11,Havre-Saint-Pierre,CA,2022-05-22 20:04:30,50.2334,-63.5986,9.20,81,100,3.60

In [35]:
preferredCitiesDf.isnull().sum()

City_ID       0
City          0
Country       4
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [40]:
preferredCitiesDf.count()

City_ID       274
City          274
Country       270
Date          274
Lat           274
Lng           274
Max Temp      274
Humidity      274
Cloudiness    274
Wind Speed    274
dtype: int64

In [41]:
#drop any null values
preferredCitiesDf = preferredCitiesDf.dropna()
preferredCitiesDf.count()

City_ID       270
City          270
Country       270
Date          270
Lat           270
Lng           270
Max Temp      270
Humidity      270
Cloudiness    270
Wind Speed    270
dtype: int64

In [42]:
#create hotel Df
hotelDf = preferredCitiesDf[['City','Country','Max Temp','Lat','Lng']].copy()
hotelDf['Hotel Name']=''
hotelDf.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
4          Thunder Bay      CA     10.99  48.4001  -89.3168
8               Hobart      AU     10.14 -42.8794  147.3294
9             Necochea      AR     14.77 -38.5473  -58.7368
10             Emerald      AU     15.19 -23.5333  148.1667
11  Havre-Saint-Pierre      CA      9.20  50.2334  -63.5986
13              Torbay      CA     16.27  47.6666  -52.7314
14               Piuma      BR     20.71 -20.8378  -40.7219
16            Hamilton      US     20.99  39.1834  -84.5333
19              Castro      BR     14.80 -24.7911  -50.0119
20           Geraldton      AU     19.23 -28.7667  114.6000

In [44]:
hotelLat = hotelDf['Lat']
hotelLng = hotelDf['Lng']
params = {
        'radius':5000,
        'type':'lodging',
        'key':gKey

}
baseUrl = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
for index, row in hotelDf.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params['location']=f'{lat},{lng}'
    
    try:
        hotels = requests.get(baseUrl,params=params).json()
        hotelDf.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found.')

Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.

In [45]:
hotelDf.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Thunder Bay,CA,10.99,48.4001,-89.3168,Victoria Inn Hotel and Convention Centre
8,Hobart,AU,10.14,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
9,Necochea,AR,14.77,-38.5473,-58.7368,dyd -mar Hotel
10,Emerald,AU,15.19,-23.5333,148.1667,The Irish Village
11,Havre-Saint-Pierre,CA,9.20,50.2334,-63.5986,Auberge Niapiskau
13,Torbay,CA,16.27,47.6666,-52.7314,Gallows Cove
14,Piuma,BR,20.71,-20.8378,-40.7219,Piúma Praia Hotel
16,Hamilton,US,20.99,39.1834,-84.5333,Six Acres Bed & Breakfast
19,Castro,BR,14.80,-24.7911,-50.0119,CHACARA BAILLY
20,Geraldton,AU,19.23,-28.7667,114.6000,Broadwater Mariner Resort

In [49]:
#info box template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °C</dd>
</dl>

"""
hotelInfo = [info_box_template.format(**row) for index, row in hotelDf.iterrows()]
#add a heatmap of temps for hotels
locations = hotelDf[['Lat','Lng']]
maxTemp = hotelDf['Max Temp'].abs()
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=maxTemp, 
                                 dissipating = False, max_intensity=100, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotelInfo)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))