In [2]:
#jupyter nbextension enable --py --sys-prefix widgetsnbextension
#pip install gmaps

import pandas as pd
import gmaps
import requests
from config import gKey
gmaps.configure(api_key=gKey)

In [3]:
get_file = '../weather_database/WeatherPy_Database.csv'

cityDataDf = pd.read_csv(get_file)
cityDataDf.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,12.51,80,40,1.54,scattered clouds
1,1,Atuona,PF,-9.8000,-139.0333,25.91,78,11,8.11,few clouds
2,2,Upernavik,GL,72.7868,-56.1549,-0.77,90,100,6.34,overcast clouds
3,3,Urubicha,BO,-15.3833,-62.9500,20.81,87,100,0.36,overcast clouds
4,4,Carnarvon,AU,-24.8667,113.6333,21.98,57,0,6.11,clear sky

In [5]:
cityDataDf.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [20]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
maxTemp = cityDataDf['Max Temp'].abs()

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=maxTemp, dissipating=False, max_intensity =100, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
humidity = cityDataDf['Humidity']

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity =150, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
cloudiness = cityDataDf['Cloudiness'].abs()

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity =300, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Heatmap of Temperature
#ge lat and long
locations = cityDataDf[['Lat','Lng']]

#get max temp
windSpeed = cityDataDf['Wind Speed']

#assign the figure variable
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

#assign the layer variable a heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=windSpeed, dissipating=False, max_intensity =50, point_radius=4)

#add the layer to the figure
fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
userMinTemp = float(input('What is the minimum temperature you would like for your trip?(C) '))
userMaxTemp = float(input('What is the maximum temperature you would like for your trip?(C) '))

What is the minimum temperature you would like for your trip?(C) 18
What is the maximum temperature you would like for your trip?(C) 22

In [7]:
preferredCitiesDf = cityDataDf.loc[(cityDataDf['Max Temp'] <= userMaxTemp) & (cityDataDf['Max Temp']>= userMinTemp)]
preferredCitiesDf.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Urubicha,BO,-15.3833,-62.9500,20.81,87,100,0.36,overcast clouds
4,4,Carnarvon,AU,-24.8667,113.6333,21.98,57,0,6.11,clear sky
6,6,Plettenberg Bay,ZA,-34.0527,23.3716,18.47,63,7,1.34,clear sky
22,22,Cape Town,ZA,-33.9258,18.4232,20.62,66,0,6.17,clear sky
23,23,Ribeira Grande,PT,38.5167,-28.7000,18.22,94,75,3.09,broken clouds

In [8]:
preferredCitiesDf.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [40]:
preferredCitiesDf.count()

City_ID       274
City          274
Country       270
Date          274
Lat           274
Lng           274
Max Temp      274
Humidity      274
Cloudiness    274
Wind Speed    274
dtype: int64

In [9]:
#drop any null values
preferredCitiesDf = preferredCitiesDf.dropna()
preferredCitiesDf.count()

City_ID                80
City                   80
Country                80
Lat                    80
Lng                    80
Max Temp               80
Humidity               80
Cloudiness             80
Wind Speed             80
Current Description    80
dtype: int64

In [21]:
#create hotel Df
hotelDf = preferredCitiesDf[['City','Country','Max Temp','Lat','Lng','Current Description']].copy()
hotelDf['Hotel Name']=''
hotelDf.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
3,Urubicha,BO,20.81,-15.3833,-62.9500,overcast clouds,
4,Carnarvon,AU,21.98,-24.8667,113.6333,clear sky,
6,Plettenberg Bay,ZA,18.47,-34.0527,23.3716,clear sky,
22,Cape Town,ZA,20.62,-33.9258,18.4232,clear sky,
23,Ribeira Grande,PT,18.22,38.5167,-28.7000,broken clouds,
24,Hermanus,ZA,19.89,-34.4187,19.2345,overcast clouds,
33,Itoman,JP,21.01,26.1247,127.6694,moderate rain,
37,Lawrenceville,US,19.83,33.9562,-83.9880,moderate rain,
48,Pingxiang,CN,18.38,27.6167,113.8500,overcast clouds,
101,Balkhash,KZ,19.03,46.8440,74.9804,overcast clouds,

In [22]:
hotelLat = hotelDf['Lat']
hotelLng = hotelDf['Lng']
params = {
        'radius':5000,
        'type':'lodging',
        'key':gKey

}
baseUrl = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
for index, row in hotelDf.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params['location']=f'{lat},{lng}'
    
    try:
        hotels = requests.get(baseUrl,params=params).json()
        hotelDf.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found.')

Hotel not found.
Hotel not found.
Hotel not found.
Hotel not found.

In [23]:
nan_value = float('NaN')
hotelDf.replace("", nan_value, inplace=True)

In [24]:
hotelDf = hotelDf.dropna()

In [27]:
hotelDf.count()

City                   76
Country                76
Max Temp               76
Lat                    76
Lng                    76
Current Description    76
Hotel Name             76
dtype: int64

In [28]:
hotelDf.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Carnarvon,AU,21.98,-24.8667,113.6333,clear sky,Hospitality Carnarvon
6,Plettenberg Bay,ZA,18.47,-34.0527,23.3716,clear sky,Thanda Vista B&B
22,Cape Town,ZA,20.62,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
23,Ribeira Grande,PT,18.22,38.5167,-28.7000,broken clouds,Quinta da Meia Eira
24,Hermanus,ZA,19.89,-34.4187,19.2345,overcast clouds,Misty Waves Boutique Hotel
33,Itoman,JP,21.01,26.1247,127.6694,moderate rain,Southern Beach Hotel & Resort Okinawa
37,Lawrenceville,US,19.83,33.9562,-83.9880,moderate rain,"Holiday Inn Express & Suites Lawrenceville, an..."
48,Pingxiang,CN,18.38,27.6167,113.8500,overcast clouds,Haiyuntian Hotel
101,Balkhash,KZ,19.03,46.8440,74.9804,overcast clouds,Family
107,Cabo San Lucas,MX,21.61,22.8909,-109.9124,clear sky,Hotel Tesoro Los Cabos

In [29]:
#info box template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>

"""
hotelInfo = [info_box_template.format(**row) for index, row in hotelDf.iterrows()]
#add a heatmap of temps for hotels
locations = hotelDf[['Lat','Lng']]
maxTemp = hotelDf['Max Temp'].abs()
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=maxTemp, 
                                 dissipating = False, max_intensity=100, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotelInfo)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
output_data_file = 'WeatherPy_vacation.csv'
hotelDf.to_csv(output_data_file,index_label="City_ID")