## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import gKey

# Configure gmaps
gmaps.configure(api_key=gKey)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacationDf = pd.read_csv('../vacation_search/WeatherPy_vacation.csv')
vacationDf.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,4,Carnarvon,AU,21.98,-24.8667,113.6333,clear sky,Hospitality Carnarvon
1,6,Plettenberg Bay,ZA,18.47,-34.0527,23.3716,clear sky,Thanda Vista B&B
2,22,Cape Town,ZA,20.62,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
3,23,Ribeira Grande,PT,18.22,38.5167,-28.7000,broken clouds,Quinta da Meia Eira
4,24,Hermanus,ZA,19.89,-34.4187,19.2345,overcast clouds,Misty Waves Boutique Hotel

In [3]:
vacationDf.count()

City_ID                76
City                   76
Country                76
Max Temp               76
Lat                    76
Lng                    76
Current Description    76
Hotel Name             76
dtype: int64

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacationDf.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacationDf[["Lat", "Lng"]]

In [5]:
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacationDf.loc[(vacationDf['City']=='Marienburg')]
vacation_end = vacationDf.loc[(vacationDf['City']=='Marienburg')]
vacation_stop1 = vacationDf.loc[(vacationDf['City']=='Saint-Francois')]
vacation_stop2 = vacationDf.loc[(vacationDf['City'] =='La Rioja')]
vacation_stop3 = vacationDf.loc[(vacationDf['City'] =='Hanstholm')]

vacation_stop2

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
32,310,La Rioja,ES,20.88,42.25,-2.5,overcast clouds,Casa Concejos

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

stop2

array([[42.25, -2.5 ]])

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

trip = gmaps.directions_layer((start[0][0],start[0][1]),
                              (end[0][0],end[0][1]),
                            waypoints=[
                                (stop1[0][0],stop1[0][1]),
                              (stop2[0][0],stop2[0][1]),
                              (stop3[0][0],stop3[0][1])],
                               )
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,511,Marienburg,PL,18.82,54.0359,19.0266,broken clouds,Hotel Centrum Malbork
1,511,Marienburg,PL,18.82,54.0359,19.0266,broken clouds,Hotel Centrum Malbork
2,288,Saint-Francois,FR,20.93,46.4154,3.9054,light rain,Manoir Du Bonheur
3,310,La Rioja,ES,20.88,42.2500,-2.5000,overcast clouds,Casa Concejos
4,481,Hanstholm,DK,19.79,57.1167,8.6167,overcast clouds,Hotel Hanstholm

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
fig = gmaps.figure(center=(30.0,30.0),zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))